*{
    box-sizing: border-box;
    font-family: 'Gabriela', serif;
}

body,html{
  font-family: 'Inconsolata', monospace; 
  color:#fff;
  color:#0075A8;

  /* gabriola */
  background-color: #0075A8;
  padding: 0;
  margin:0;
  min-height:10;
  height:100%; 
  width:100%;
  font-size:2.5vh;
}

header{
    display: flex;
    color: #FCDEA2;
    width: auto;
    height: 15%;
}

 /* P R O F I L E   S E C T I O N  */
.profilediv{
    width: 15%;
    height: 100%;
    border: 50%;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
}
.profilediv img{
    margin-top: 3%; 
    width: 37%;
    border-radius: 50%;
}
.profilediv img:hover{
    border-radius: 0%;
}
.profilediv img:active{
    border-radius: 0%;
    position: absolute;
    margin-top: 0%; 
    margin-left: 15%; 
    z-index: 1;
    width: 50%;
    height: 100%;
}


.name{
    position: absolute;
    top:11%;
    font-size: 80%;
}

.container{
    width:85%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container nav{
    background-color: #FCDEA2;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}


nav img{
    background-color: #0075A8;
    width: 50%;
    border-radius: 50%;
    z-index: 1;
}

nav img:hover{
    background-color: #FCDEA2;
}
.facebook,.github,.instagram,.linkedin{
    border: 5px solid #0075A8;
}

.filesandsettings a{
    text-decoration: none;
    color: #FCDEA2;
}

.filesandsettings a:hover{
    color: #000;
    text-shadow: #FCDEA2 0px 0px 15px; 
}

.container .others{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container .contacts{
    display: flex;
    justify-content: space-evenly;
}
.container .filesandsettings{
    display: flex;
    padding-left:16%;
}
.main div{
    height: 80%;
    width: 98%;
}
.main{
    border: 20px solid #0075A8;
    height: 80%;
}

.hide{
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
    transition: clip-path 0.7s ease-in-out ;
}

.fullScreen{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.7s ease-in-out ;
}

.fullScreen h2{
    
    transform: translate(-30%, -100%);
}

.clip{
    position: absolute;
    background-color:#FCDEA2;
    padding: 2% 5%;
    
}

.clip.clip1{
    clip-path: polygon(0 0, 65% 0, 37% 44%, 0 100%);
    transition: clip-path 0.7s ease-in-out ;

}

.clip.clip2{
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 40% 42%);
    transition: clip-path 0.7s ease-in-out ;

}
.clip.clip3{
    clip-path: polygon(39% 44%, 39% 44%, 100% 100%, 0 100%);
    transition: clip-path 0.7s ease-in-out ;

}

.main button{
    position: absolute;
    margin: 0% 91%;
    background-color: #FCDEA2;
    color: #000;
    z-index: 1;
}

.clip h2{
    position: absolute;
    font-size:6rem;
}
.clip2 h2{
    margin-left: 55%;
    margin-top: 3%;
}
.clip3 h2{
    margin-left: 28%;
    margin-top: 17%;
}